<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{%if term%}
{{term}}
        <form method = "POST", action = "/type-in-answers-quiz">
            {{answer_form.Answer.label}}
            {{answer_form.Answer}}
            {{answer_form.Submit}}
        </form>
{%endif%}

{%if message%}
{{message}}
        <form method = "POST", action = "/change-answers-quiz">
            {{change_form.Change.label}}
            {{change_form.Change}}
            {{change_form.Submit}}
        </form>
{%endif%}

<br> <a href = "/save-progress"> Finish study session</a> </br>
</body>
</html>